$bg-color: rgba(128, 128, 128, 0.16);
$hr: 2px solid $bg-color;

body {
  background-color: $bg-color;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 96%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  max-width: 960px;
  position: absolute;
  top: 1em;
  box-shadow: 1px 2px 8px lightgray;
}

.wrapper {
  display: flex;

}

.main-header {
  margin: 0;
  padding: 1.8em 1.8em 1.2em;
  font-size: 1.22rem;
  font-weight: bold;
  border-bottom: $hr;
  cursor: pointer;
}

.flowers-filters,
.flowers-content,
.price-range {
  display: flex;
  flex-direction: column;
}

.flowers-filters {
  width: 30%;
  height: 100vh;
  position: sticky;
  top: 0;

  .empty {
    height: 3.5em;
  }
  .filter {
    border-right: $hr;
    border-bottom: $hr;
  }
}
 
.categories-title {
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-between;
  padding: 0.3em 0;
  cursor: pointer;
}

.categories-list {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  transition: ease-in-out 120ms;
  padding: 1em 2em;
}

.categories-items {
  display: flex;
  align-items: baseline;
  padding: 0.2em;
  cursor: pointer;
  input {
    visibility: hidden;
    display: grid;
    height: 0;
    width: 0;
    overflow: hidden;
  }
  .cb-name {
    padding-left: 0.5em;
  }
  .checkmark {
    position: relative;
    display: inline-block;
    place-content: center;
    height: 16px;
    width: 16px;
    border: 1px solid rgba(68, 68, 68, 0.3);
    border-radius: 4px;
    transition: ease-in-out 120ms;
  }
  
  .checkmark:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 6px;
    height: 6px;
    transform: scale(0);
    border-radius: 1px;
    box-shadow: inset 1em 1em white;
    transition: 120ms transform ease-in-out;
  }

  input[type=checkbox]:checked+.checkmark {
    background: rgba(0, 0, 0, 0.8);
    transition: ease-in-out 120ms;
  }
  
  input[type=checkbox]:checked+.checkmark:before {
    transform: scale(1);
  }
}

.price-range {
  padding: 0.8em 1.6em;

  .price-title {
    padding: 1em 0.7em;
  }
  .price-slider {
    padding: 1.8em 1em;
  }
}

.flowers-content {
  width: 70%;
  padding: 1em;
  justify-self: center;
}

.flowers-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  
  > * {
    cursor: pointer;
    margin: 0;
    padding: 0.5rem;
  }
  
  .flowers-header {
    font-weight: 600;
    text-shadow: 1px 1px rgba(92, 92, 92, 0.2);
  }
  
  .flower-select {
    padding: 0;
    border-radius: 6px;
    border: 1px solid rgba(68, 68, 68, 0.3);
    box-shadow: 1px 2px 10px rgba(68, 68, 68, 0.1);
    .prepend {
      border-radius: inherit;
    }
    .select-input {
      width: 5.4em;
    }
    .option-list li.active {
      background-color: rgba(141, 88, 199, 0.69);
    }
    .drop-container {
      padding: 0;
      border-radius: 4px;
    }
    ul {
      border-radius: inherit;
      margin: 0;
      padding: 0;
    }
    li {
      border-radius: inherit;
      padding: 0.1em 0.05em;
      margin: 0.1em 0.05em;
    }
  }
}

ul#flowers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em;
  padding: 1.5em;
  max-width: 100%;
  margin: 0;
  list-style-type: none;
}

.flower {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(128, 128, 128, 0.16);
  width: 284px;
  height: 335px;
  border-radius: 14px;
  position: relative;
  cursor: pointer;

  &:hover::before {
    opacity: 1;
  }

  &::before,
  &::after {
    border-radius: 12px;
    content: "";
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0;
    position: absolute;
    transition: opacity 500ms;
    width: 100%;
  }

  &::before {
    background: radial-gradient(700px circle at var(--mouse-x) var(--mouse-y), rgba(128, 128, 128, 0.08),
        transparent 40%);
    z-index: 3;
  }

  &::after {
    background: radial-gradient(500px circle at var(--mouse-x) var(--mouse-y), rgba(128, 128, 128, 0.4),
        transparent 40%);
    z-index: 1;
  }
}

.flower-accent {
  position: absolute;
  top: 10%;
  left: -3px;
  width: 3px;
  height: 12%;
  background-color: var(--accent-color);
}

.card-content {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 0.6);
    flex-grow: 1;
    inset: 1px;
    padding: 10px;
    position: absolute;
    z-index: 2;

  .card-info-wrapper {
    margin: 1.2em .4em;

    .flower-name {
      margin: 0.1em 0;
      font-size: 0.95em;
      font-weight: bold;
    }
  }

  .flower-type,
  .price-title {
    color: rgb(100, 100, 100);
    font-weight: bold;
    font-size: 0.75rem;
  }

  .card-image {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 176px;

    img {
      max-height: 100%;
      max-width: 100%;
      object-fit: scale-down;
      position: relative;
      top: 0;
      left: -8px;
    }
  }

  .card-footer {
    display: flex;
    flex-direction: column;
    gap: 0;
    border: 0;
    padding: 0 0.3em;
    margin-left: .9em;
    align-items: flex-start;
    position: absolute;
    top: 262px;

    .price-title {
      opacity: .5;
    }

    .flower-price {
      font-size: 1.2em;
      font-weight: bold;
    }
  }
}

.lighter {
  padding: 0.8em 2.4em;
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-size: 0.95rem;
  text-shadow: 1px 1px rgba(116, 116, 116, 0.1);
}

.dropdown-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 3px;
  margin-right: 1.5em;
}

.up {
  transition: ease-in 120ms;
  transform: rotate(-135deg);
}

.down {
  transition: ease-in 120ms;
  transform: rotate(45deg);
}

// Element Plus slider recolor to dark
.el-slider__button {
  --el-color-white: #272727;
  --el-slider-main-bg-color: var(--el-border-color-light);
}

.el-slider {
  --el-slider-main-bg-color: #272727;
  --el-slider-border-radius: 3px;
  --el-slider-height: 5px;
  --el-slider-button-size: 18px;
  --el-slider-button-wrapper-size: 36px;
  --el-slider-button-wrapper-offset: -15px;
  height: 36px;
}

.app-footer {
  font-size: 0.9rem;
  color: rgba(100, 100, 100, 0.7);
  padding: 1.8em;
}

.wooo {
  border: 2px outset rgba(255, 167, 38, .3);
}

.itslit {
  border: 1px outset rgba(124, 179, 66, 0.4);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 300ms linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media screen and (max-width: 991px) {

  .empty {
    display: none;
  }

  .container {
    padding-left: 1.5em;
  }

  ul#flowers {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 760px) {

  .container {
    font-size: 0.95em;
    width: 50%;

    :nth-child(2) {
      padding-top: 1em;
    }
  }

  div.wrapper {
    flex-direction: column;

    div.flowers-filters {
      height: 100%;
      width: 100%;
      position: relative;

      .filter {
        border-right: 0;
      }
    }
    .flowers-content {
      width: 100%;
    }
  }

  .price-range {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .price-slider {
      width: 52.5%;
    }
  }
}

@media screen and (max-width: 640px) {

  .flowers-sort .dropdown-arrow {
    position: absolute;
    top: 2px;
    left: -2px;
  }
}

@media screen and (max-width: 450px) {

  * {
    transition: 200ms ease-in-out;
  }

  div.wrapper .categories-list {
    flex-direction: column;
    align-content: flex-start;

    :nth-child(2) {
      padding-top: 0em;
    }

    :nth-child(5) {
      padding-bottom: 0em;
    }
  }

  .container {
    width: 100%;

    .checkmark {
      top: 3px;
    }
  }

  .flowers-title {
    display: flex;
    flex-direction: column;

    h2.flowers-header {
      margin-bottom: 13px;
      transition: 200ms ease;
    }
  }

  .price-range {
    flex-direction: column;
    align-items: flex-start;

    .price-slider {
      max-width: 90vw;
      width: 100%;
    }
  }
}