$bg-color: rgba(128, 128, 128, 0.16);
$hr: 2px solid $bg-color;

body {
  background-color: $bg-color;
  height: 100vh;
  min-width: 320px;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Helvetica, sans-serif;
}

#app {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 96%;
  margin: 0;
  padding: 0;
  border-radius: 20px;
  max-width: 960px;
  position: absolute;
  top: 1em;
  box-shadow: 1px 2px 8px lightgray;
}

.main-header {
  font-size: 1.22rem;
  font-weight: bold;
  padding: 1.8em 1.8em 1.2em;
  border-bottom: $hr;
  margin: 0;
  cursor: pointer;
}

.filters,
.price-range,
.content {
  display: flex;
  flex-direction: column;
}

.lighter {
  padding: 0.8em 2.4em;
  color: rgb(100, 100, 100);
  font-weight: bold;
  font-size: 0.95rem;
  text-shadow: 1px 1px rgba(116, 116, 116, 0.1);
}

.dropdown-arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-top: 3px;
  margin-right: 1.5em;
}

.up {
  transition: ease-in 120ms;
  transform: rotate(-135deg);
}

.down {
  transition: ease-in 120ms;
  transform: rotate(45deg);
}

.container {
  padding: 0.25em 2.25em;
  cursor: pointer;
}

.footer {
  font-size: 0.9rem;
  color: rgba(100, 100, 100, 0.7);
  padding: 0.5em 0 2em;
}

.wooo {
  border: 2px outset rgba(255, 167, 38, .3);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 300ms linear;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

@media screen and (max-width: 991px) {

  .empty {
    display: none;
  }
}

@media screen and (max-width: 750px) {

  .container {
    font-size: 0.95em;
    width: 50%;

    :nth-child(2) {
      padding-top: 1em;
    }
  }

  div.wrapper {
    flex-direction: column;

    div.filters {
      height: 100%;
      width: 100%;
      position: relative;

      .filter {
        border-right: 0;
      }
    }

    .categories-list {
      flex-flow: row wrap;

      :nth-child(2) {
        padding-top: 1em;
      }

      :nth-child(5) {
        padding-bottom: 1em;
      }
    }

    .content {
      width: 100%;
    }
  }

  .price-slider {
    width: 55%;
  }
}

@media screen and (max-width: 640px) {

  .flowers-sort .dropdown-arrow {
    position: absolute;
    top: 2px;
    left: -2px;
  }

  .container {
    font-size: 0.9em;
  }
}